{% extends 'base.html' %}
{% load static %}

{% block content %}
{%load static%}
<div class="container" id="h1" style="background-image: url({% static "articles/h.jpg" %});">
  <!-- <h2>Patient : {{ patientName }} </h2> -->
  <!-- <p> <h3> EHR Details </h3> </p> -->
  <form role="form" action="{% url 'login' %}" method="get">
  <div class="panel-group"  id="accordion" style="width: 110%;height: 40%">
  <!-- <div class="row"> -->
    <div class="row">
    {% for af in allowedFields %}
    <!-- <div class="column"> -->
      <div class="col-sm-4">
    <div class="panel panel-default" style="width: 85%;height: 100%">
      <div class="panel-heading">
        <h4 class="panel-title">
        <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> -->
        <h4> <b> {{ af }} </b> </h4></a>
      </h4>
    </div>
    <!-- <div id="collapse1" class="panel-collapse collapse in"> -->
      <!-- <div class="checkbox">
          <label><input type="checkbox" name="select" value="{{ af }}"  data-toggle="modal" data-target="#myModal"> Select to Edit </label> </input>
      </div> -->
      <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="color: white;float: right;">Click to Edit</button> --> 

      <div class="panel-body"> <iframe src="{{ af }}.txt" style="width: 100%;height: 100%;border: none;"> </iframe>
      </div>
    <!-- </div> for collapse -->
    </div>
    </div>
    <!-- </div> -->
        <!-- h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="glyphicon glyphicon-collapse-down">{{ p.patientName }}</span></a><div class="checkbox">
        <label><input type="checkbox" value="{{p.patientName}}" name="checks"></label>"btn btn-info btn-lg btn-default" 
      </div>
        </h4> -->
        
      
      
  {% endfor %}
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Done</button>
</form>
</div>

{% endblock content %}
