{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container-fluid bg-1 text-center" id="mainContent">
  <h3 style="color:black;"><big><b><i>PATIENT DETAILS</i></b></big></h3>
<!-- <h5>         ...the cloud's agent</h5> -->
  <br>
<div class="row mb-4">
    <div class="col-sm-4">
      <div class="row mb-2">
          </div>
          <h4>Patient ID: {{object.id}} </h4>
          <h4>Patient Name: {{object.patientName}} </h4>
          <h4>Purpose : {{object.purpose}} </h4>
          <h4>Doctor Name : {{object.doctorName}} </h4>
          <h4>Patient Hward : {{object.patientHward}}</h4>
      </div>
    </div>
</div>
{% endblock content %}