{%extends 'base.html'%}

{% load static %}
<!doctype html>
<html lang="en">

{% block content %}
<div class="container-fluid bg-1 text-center" id="mainContent"  style="background-image: url({% static "articles/h.jpg" %});">
        <h3 style="color:black;"><big><b><i>ELECTRONIC HEALTH RECORD(EHR) ENCRYPTION SYSTEM</i></b><br>
          <br>
        PHARMACY UNIT
        </big></h3>
      <!-- <h5>         ...the cloud's agent</h5> -->
        <br>
        <br/>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>ADD DRUG</h2>
          <button class="btn btn-outline-light" type="button"><a href="{% url 'add_drug' %}" style = "text-color:red">CLICK TO ADD DRUG</a></button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>VIEW DRUGS</h2>
          <button class="btn btn-outline-light" type="button"><a href="{% url 'drug' %}" style = "text-color:red">CLICK TO VIEW DRUG</a></button>
        </div>
      </div>
    </div>
</div>



{% endblock content %}